#nav-bar{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: row;
}

#nav-bar li{
    flex-grow: 1;
}

.resume-heading {
    font-family: 'Quicksand', sans-serif;
}


a:hover {
    color: green;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: aqua;
    text-shadow: darkgrey;
}

h3 {
    color: green;
    text-decoration:slategrey underline;
    margin-left: 15%;

}

.background-color-resume{
    background-color:black;
}


div {
    color: white;
}

.background-color-home{
    background-color:lightseagreen;
}

.tableauPlaceholder{
    left: 200px;
    height: 30%;
    width: 90%
}

ul{
    color: white;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}